h2{
	font-size: 29.5px;
	font-weight: 400 !important;
	text-transform: uppercase;
	color: #606060;
}
h3{
	font-size: 20.5px;
	font-style: italic;
	color: #606060;
}
h4{
	color: #393939;
	font-size: 18px;
	font-style: italic;
}
h5{
	font-size: 11px;
	font-style: italic;
	font-weight: 100;
	text-transform: uppercase;
	color: #393939;
}
p{
	color: #535353;
	font-size: 13px;
}

.center {
   margin: 0 auto !important;
   float: none !important;
   margin-bottom: 0px !important;
   text-align: center !important;
}
.floatright{
	float: right;
}
.floatleft{
	float: left;
}
.row-video{
	margin-right: -30px;
}

/* Forms
===========================*/
input[type="text"]{
	/*height: 38px;*/
	border: 0;
	border-radius: 0px;
	color: black;
}
textarea{
	height: 200px;
	border: 0;
	border-radius: 0;
	/*color: black;*/
}

/* video page
===========================*/
.video-overlay h2{
	color: #fff !important;
}
.video-overlay a{
	text-decoration: none !important;
}

#about-video{
	padding-top: 0px;
}
#about-video .container{
	border-top: solid 1px #1575C9;
	border-bottom: solid 1px #1575C9;
}
#video-unit{
	padding-bottom: 0px;
	margin-bottom: 7px;
}
#date{
	margin-top: -10px;
}

.social-share{
	float: right;
	text-align: center;
	padding-top: 20px;
}

#video-title{
	list-style: none;
	display: block;
	margin: 0;
}
#video-title li{
	float: left;
	margin-right: 30px;
}
#author{
	margin-top: 23px;
}

/*Share*/
#twitter.sharrre,
#facebook.sharrre,
#pinterest.sharrre
{
  float: left;
  margin:0 10px;
  text-align: center;
}

#twitter.sharrre a,
#facebook.sharrre a,
#pinterest.sharrre a
{
  text-decoration: none;
  color:#555;
}

#twitter.sharrre .count{
	background: url('../../images/twitter-share.png');
}
#facebook.sharrre .count{
	background: url('../../images/facebook-share.png');
}
#pinterest.sharrre .count{
	background: url('../../images/pinterest-share.png');
}
#twitter.sharrre .count,
#facebook.sharrre .count,
#pinterest.sharrre .count
{
  padding-top: 72px;
  padding-bottom: 10px;
  width: 97px;
  color: #fff;
}
.button.pinterest{
	display: none;
}

#related-videos{
	margin-top: -85px;
}
#disqus_thread{
	background-color: #fff;
	padding: 10px;
}

/* upload page
===========================*/
#uploadsubmit{
	background: #395AB1;
}

input[disabled]{
	background: #7B89AF !important;
	color: #eee !important;
}

.upload-form{
	margin-top: 40px;
	width: 500px;
}

.upload-input{
	width: 95.5%;
	border: 1px solid #CCC !important;
	background: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	border-radius: 4px !important;
}
.modal-body{
	background: #eee;
}
.button{
	margin: 5px auto !important;
	color: #fff !important;
	padding: 10px 0 !important;
	height: auto !important;
}

/*-------------------------
	Dropbox Element
--------------------------*/



#dropbox{
	background:url('../../images/background_tile_3.jpg');
	border-radius:3px;
	position: relative;
	/*margin:80px auto 90px;*/
	min-height: 290px;
	overflow: hidden;
	padding-bottom: 40px;
    /*width: 990px;*/
	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}


#dropbox .message{
	font-size: 40px;
    text-align: center;
    padding-top:160px;
    display: block;
}

#dropbox .message i{
	margin-top: 20px;
	font-size:20px;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}



/*-------------------------
	Image Previews
--------------------------*/



#dropbox .preview{
	width:100%;
	height: 215px;
	float:left;
	margin: 55px 0 0 60px;
	position: relative;
	text-align: center;
}

#dropbox .preview img{
	max-width: 240px;
	max-height:180px;
	border:3px solid #fff;
	display: block;
	
	box-shadow:0 0 2px #000;
}

#dropbox .imageHolder{
	display: inline-block;
	position:relative;
}

#dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('../../images/done.png') no-repeat center center rgba(255,255,255,0.5);
	display: none;
}

#dropbox .preview.done .uploaded{
	display: block;
}



/*-------------------------
	Progress Bars
--------------------------*/



#dropbox .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	width:90%;
	left:0;
	bottom: 0;
	
	box-shadow:0 0 2px #000;
}

#dropbox .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#dropbox .preview.done .progress{
	width:100% !important;
}

#failureText {
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	color: red;
}

#failureText h1{
	margin-top:-10px;
	font-size: 13px;
	padding-bottom: 5px;
}

.hero-unit{
	margin-bottom: 0px! important;
}
section{
	padding-top: 0px !important;
}
.reducebottom{
	margin-bottom: 5px;
}
#searchterm{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
	margin-top: 20px;
}

/*-------------------------
	Contact Page
--------------------------*/
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
	font:400 12px/12px 'Open Sans', sans-serif;
}
#contact-form {
	text-shadow:0 1px 0 #FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#F9F9F9;
	padding:25px;
}
#contact-form h3 {
	color:#1369B5;
	display:block;
	font-size:28px;
}
#contact-form h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}
#contact-form label span {
	cursor:pointer;
	color:#1369B5;
	display:block;
	margin:5px 0;
	font-weight:900;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
	width:90%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact-form textarea {
	height:100px;
	max-width:100%;
}
#contact-form button[type="submit"] {
	cursor:pointer;
	width:95%;
	border:none;
	background: #2995d9;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:4px;
	font-size: 14px;
	letter-spacing: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#contact-form button[type="submit"]:hover {
	background: #3fa5e5;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
#contact-form input:focus,
#contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}


.featured-video-text{
	position: absolute;
	z-index: 100;
	margin-top: -300px;
	width: 507px;
	padding-left: 73px;
}
.featured-video-text h2{
	color: #fff !important;
}
.featured-description{
	font-size: 15px;
	color: #fff !important;
}
#home-carousel{
	height: 500px !important;
	margin-bottom: 0px! important;
}

/*--------------------------
	CATEGORY PAGE
--------------------------*/
#cat-videos{
	margin-top: 20px;
}

.overlay{
	margin-top: -29px;
	background: rgba(47, 106, 182, .55);
	width: 100%;
	position: absolute;
	color: #fff;
	padding-bottom: 5px;
}
.span-title{
	float: left !important;
	text-align: left !important;
	margin-left: 0px !important;
	padding-top: 5px !important;
	padding-left: 10px !important;
}
.span-length{
	padding-top: 5px !important;
	float: right !important;
	text-align: right !important;
	padding-right: 20px !important;
}
.margin0{
	margin-left: 0px !important;
	margin-right: 30px !important;
}

/*-------------------------------
			AUTOCOMPLETE
--------------------------------*/

.ui-menu{
    z-index: 1000;
    background-color: #addeff;
    border: 1px solid #2185c9;
}


/*-------------------------------
			VIDEO PLAYER
--------------------------------*/

.video-info{
	margin-left: 183px !important;
	width: 1070px !important;
}

.vote-up-button{
	display: inline-block;
	width: 70px;
	height: 70px;
	background: url("../ico/up.png");;
}

.vote-up-button:hover{
	display: inline-block;
	width: 70px;
	height: 70px;
	background: url("../ico/up-green.png");;
}

.vote-down-button{
	display: inline-block;
	width: 70px;
	height: 70px;
	background: url("../ico/down.png");;
}

.vote-down-button:hover{
	display: inline-block;
	width: 70px;
	height: 70px;
	background: url("../ico/down-red.png");;
}